/* Estiliza o container do carrossel */
.carousel-container {
    overflow: hidden; /* Oculta os elementos que saem da tela */
    white-space: nowrap; /* Impede quebra de linha */
    position: relative;
    width: 100%;
    background-color: var(--fundo-da-aplicação);
    padding: 10px 0;
    border-bottom: 2px solid #000;

}

/* Linha que contém as logos */
.carousel {
    display: flex;
    gap: 150px;
    animation: scroll 10s linear infinite; /* Animação infinita */
    padding-top: 2vh;
    padding-bottom: 10px;
}

.carousel-container h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
}


/* Animação para mover as logos da esquerda para a direita */
@keyframes scroll {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

/* Estilização das imagens */
.carousel img {
    width: 200px; /* Ajuste conforme necessário */
    height: 70px
}