.carousel-container {
    overflow: hidden; /* Oculta os elementos que saem da tela */
    position: relative;
    width: 100%;
    background-color: var(--fundo-da-aplicação);
    padding: 20px 0; /* Aumentei um pouco o padding vertical */
    border-bottom: 2px solid #000;
    display: flex; /* Adicionado para centralizar o conteúdo inicialmente */
    flex-direction: column; /* Garante que os itens internos sejam organizados em coluna */
    align-items: center; /* Centraliza os itens horizontalmente dentro da coluna */
}

/* Linha que contém as logos */
.carousel {
    display: flex;
    gap: 70px; /* Reduzi o gap para um visual mais coeso inicialmente */
    padding: 2vh 5vw; /* Adicionei padding horizontal para evitar que as logos toquem as bordas */
    transition: transform 0.5s ease-in-out; /* Transição suave para o movimento */
    white-space: nowrap; /* Remove a quebra de linha para o conteúdo do carrossel */
}

.carousel-container h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 20px; /* Adicionei um pouco de margem abaixo do título */
    width: 100%; /* Garante que o título ocupe a largura total para centralizar */
}
/* Estilização das imagens */
.carousel img {
    width: auto; /* Deixa a largura automática para manter a proporção */
    max-width: 200px; /* Largura máxima das logos */
    height: auto; /* Altura automática para manter a proporção */
    max-height: 70px; /* Altura máxima das logos */
    transition: transform 0.3s ease-in-out; /* Transição suave para o efeito de hover na imagem */
}

/* Efeito de destaque ao passar o mouse sobre a logo */
.carousel img:hover {
    transform: scale(1.5); /* Aumenta levemente a escala da logo */ 
    cursor: pointer; /* Muda o cursor para indicar que é interativo */

}